<h1>Welcome to Shop</h1>
<h2>This is a e-commerce store</h2>

<hr class="my-10">

<form>
<select name="console" id="console">
  <option value="xbox">Xbox</option>
  <option value="nintendo">Nintendo</option>
  <option value="playstation">Playstation</option>
  <option value="steamdeck">Steamdeck</option>
</select>
<button type="submit">Save</button>
</form>

<p class="mt-8">Selected console: <%= @console %></p>